<link rel="import" href="data-explorer.html">
<link rel="import" href="arc-item.html">

<template>
  <style>
    arc-explorer > [banner] {
      padding: 6px 4px;
      background-color: whitesmoke;
      margin-bottom: 8px;
      border-top: 1px dotted silver;
    }
  </style>
  <div banner>Profile Arcs</div>
  <div>{{profileArcs}}</div>
  <div banner>Shared Arcs</div>
  <div>{{sharedArcs}}</div>
  <div banner>Views in Profile Data</div>
  <div style="padding: 8px;">{{profiles}}</div>
  <hr>
  <button on-click="dumpDb">Dump Database</button>
  <data-explorer style="font-size: 0.6em;" object="{{data}}"></data-explorer>
</template>

<template arc>
  <arc-item key="{{key}}"></arc-item><br>
</template>

<template profile>
  <div>{{views}}</div>
  <hr>
  <!--<pre style="margin: 0; font-size: 0.8em;">{{info}}</pre>
  <hr>-->
  <data-explorer style="font-size: 0.6em;" object="{{data}}"></data-explorer>
</template>

<template view>
  <div style="line-height:1.4em;"><b>{{name}}</b></div>
</template>

<script>
  class ArcExplorer extends XenBase {
    static get observedAttributes() { return ['username']; }
    _getInitialState() {
      let arc_t = ArcExplorer.module.querySelector('[arc]');
      return {
        profileArcs: {
          template: arc_t
        },
        sharedArcs: {
          template: arc_t
        }
      }
    }
    dumpDb() {
      db.child('arcs').once('value').then(s => {
        this._setState({data: s.val()});
      });
    }
    _willReceiveProps(props, state) {
      let user = UserTools.findUser(props.username);
      if (!user || !user.profile) {
        this._setState({profiles: null});
      }
      else {
        let keys = Object.keys(user.profile);
        let profiles = keys.map(async key => {
          let snap = await db.child(`arcs/${key}`).once('value');
          let data = snap.val();
          return {
            key: key,
            data: snap.val()
          }
        });
        Promise.all(profiles).then(profiles => this._setState({profiles}));
      }
    }
    _render(props, state) {
      let profiles = state.profiles || [];
      state.profileArcs.models = profiles;
      state.sharedArcs.models = profiles;
      return {
        profileArcs: state.profileArcs,
        sharedARcs: state.sharedArcs,
        data: state.data,
        profiles: {
          template: ArcExplorer.module.querySelector('[profile]'),
          models: this._renderProfileArcs(profiles)
        }
      };
    }
    _renderProfileArcs(profiles) {
      return profiles.map(({key, data}) => {
        let views = data.views;
        let info = Object.keys(views || {}).map(name => { return { name } });
        Object.keys(views || {}).forEach(name => {
          let view = views[name];
          if (view.metadata) {
            view.metadata.type = '<redacted>';
            //delete view.metadata.type;
          }
        });
        return {
          data: data,
          info: JSON.stringify(data, null, '  '),
          views: {
            template: ArcExplorer.module.querySelector('[view]'),
            models: info
          }
        };
      });
    }
  }
  ArcExplorer.module = document.currentScript.ownerDocument;
  customElements.define("arc-explorer", ArcExplorer);
</script>