<link rel="import" href="data-item.html">

<style>
  data-explorer:not([hidden]) {
    display: block;
    /*
    border: 1px solid gray;
    border-bottom: none;
    */
  }
  data-explorer > x-list {
    display: block;
  }
  data-explorer > x-list > data-item {
   /*
   border-bottom: 1px solid gray;
   */
  }
</style>

<template><div>{{items}}</div></template>

<template data-item>
  <data-item name="{{name}}" value="{{value}}"></data-item>
</template>

<script>
  class DataExplorer extends XenState(XenElement) {
    static get observedAttributes() { return ['object']; }
    _doMount() {
      this._itemTemplate = DataExplorer.module.querySelector('[data-item]');
      this._dom = Xen.stamp(DataExplorer.module.querySelector('template')).events(this).appendTo(this);
    }
    _update(props, state) {
      this._dom.set(this._render(props, state));
    }
    _render(props, state) {
      let o = props.object || Object;
      return {
        items: {
          template: this._itemTemplate,
          models: this._formatValues(o)
        }
      };
    }
    _formatValues(object) {
      return Object.keys(object).map(n => {
        let v = object[n];
        if (v) {
          if (Array.isArray(v)) {
            //v = `(array [${v.length}])`;
          } else if (typeof v === 'function') {
            v = '(function)';
          } else if (typeof v === 'object') {
            let proto = Object.getPrototypeOf(v);
            //v = `object: {${Object.keys(v).join(', ')}}`;
            if (proto && proto !== Object.prototype) {
              v = `non-POJO: {${Object.keys(v).join(', ')}}`;
              //v = '(not pojo) ' + v;
            }
            //v = '(object)';
          }
        }
        return {
          name: n,
          value: v
        };
      });
    }
  }
  DataExplorer.module = document.currentScript.ownerDocument;
  window.customElements.define('data-explorer', DataExplorer);
</script>
