<template>
  <style>
    local-data [banner] {
      padding: 6px 4px;
      background-color: whitesmoke;
      border-top: 1px dotted silver;
    }
    local-data [editor] {
      display: flex;
      align-items: center;
      padding: 8px 8px;
    }
    local-data [label] {
      width: 64px;
      font-size: 0.8em;
      text-align: right;
      vertical-align: middle;
      margin-right: 8px;
    }
    local-data input {
      flex: 1;
      margin-right: 8px;
      padding: 4px;
    }
    local-data i {
      margin: 0 4px;
    }
  </style>
  <div banner>Local Config</div>
  <!--
  <br>
  <div editor>
    <span label>name</span>
    <b>{{user}}</b>
  </div>
  -->
  <div editor>
    <!--
    <span label>manifest</span>
    <div>{{manifest}}</div>
    -->
    <input style="flex: 1;" value="{{manifest}}" on-change="_onManifestChange">
    <!--
    <div style="flex: 1;">
      <div style="font-size:0.7em; font-style:italic;">{{host}}</div>
      <div style="font-size:0.9em; padding: 4px 0;">{{pathname}}</div>
    </div>
    -->
    <i class="material-icons" title="Promote" on-click="_onPromoteClick">assignment_returned</i>
    <!--<i class="material-icons" title="Delete">delete</i>-->
  </div>
</template>

<script>
  class LocalData extends HTMLElement {
    connectedCallback() {
      this.text = '';
      this._dom = Xen.stamp(LocalData.module.querySelector('template')).events(this).appendTo(this);
    }
    set manifest(manifest) {
      /*
      let {host, pathname} = manifest ? new URL(manifest, location.href) : {host: '', pathname: ''};
      this._dom.set({host, pathname, manifest});
      */
      this._dom.set({manifest});
    }
    _onManifestChange(e) {
      this.dispatchEvent(new CustomEvent('update-manifest', {detail: e.currentTarget.value}));
    }
    _onPromoteClick(e) {
      this.dispatchEvent(new CustomEvent('promote-manifest'));
    }
  }
  LocalData.module = document.currentImport;
  customElements.define('local-data', LocalData);
</script>