<template>
  <style>
    manifest-data {
      display: flex;
      min-height: 240px;
      font-size: 0.7em;
      /*font-family: monospace;*/
    }
    manifest-data > * {
      flex: 1;
    }
    /*manifest-data textarea {
      flex: 1;
      width: 100%;
      border: none;
      outline: none;
      font: inherit;
    }*/
  </style>
  <data-explorer object="{{object}}"></data-explorer>
  <!--<textarea spellcheck="false">{{json}}</textarea>-->
</template>

<script>
  class ManifestData extends HTMLElement {
    constructor() {
      super();
      this._manifests = [];
      this._exclusions = [];
      this._data = [];
    }
    connectedCallback() {
      this.text = '';
      this._dom = Xen.stamp(ManifestData.module.querySelector("template")).events(this).appendTo(this);
    }
    set manifests(manifests) {
      this._manifests = manifests;
      this._updateData();
    }
    set exclusions(exclusions) {
      this._exclusions = exclusions;
      this._updateData();
    }
    get exclusions() {
      return this._data.map(m => m.include ? false : m.path).filter(m => Boolean(m));
    }
    _updateData() {
      this._data = this._manifests.map(m => {
        return {
          include: this._exclusions.indexOf(m) < 0,
          path: m
        };
      })
      this._dom.set({object: this._data});
    }
  }
  ManifestData.module = document.currentScript.ownerDocument;
  customElements.define("manifest-data", ManifestData);
</script>