<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
<!--
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
-->

<script>
  let firebaseConfig = {
    apiKey: "AIzaSyBme42moeI-2k8WgXh-6YK_wYyjEXo4Oz8",
    authDomain: "arcs-storage.firebaseapp.com",
    databaseURL: "https://arcs-storage.firebaseio.com",
    projectId: "arcs-storage",
    storageBucket: "arcs-storage.appspot.com",
    messagingSenderId: "779656349412"
  };

  let db = firebase.initializeApp(firebaseConfig, 'arcs-storage').database();

  // Firebase doesn't like undefined attributes in objects. Converting
  // to JSON will filter out undefined attributes.
  let removeUndefined = function(o) {
    return JSON.parse(JSON.stringify(o));
  }

  // Class that knows how to synchronize all of the views + metadata in an Arc.
  class ArcMetadataStorage {
    // Creates a new storage instance for the given arc. The arc is required.
    constructor({ arc }) {
      this._arc = arc;
      this._remoteRef = undefined;
      this._syncedViews = new Set();
      console.log("Storing arc:", this._arc);
    }

    // We need an ID that identifies the view across devices. The Arc ID is
    // unique but the view ID suffix is the same across devices.
    // Ideally we would be using the view name here but it's not set for
    // some reason.
    _getRemoteViewId(localView) {
      return localView.id.replace(this._arc.id, '~');
    }

    // Synchronize a local view with a remote view.
    _syncView(localView, remoteView) {
      let remoteIds = new Set();

      // One-time sync from remote => local.
      remoteView.once('value').then(function(snapshot) {
        snapshot.forEach(function(e) {
          localView.store(e.val());
          remoteIds.add(e.val().id);
        });
      }).then(() => {
        // One-time sync from local => remote.
        localView.toList().forEach(e => {
          // Only store IDs that aren't already present remotely.
          if (!remoteIds.has(e.id)) {
            remoteView.push(removeUndefined(e));
          }
        });
      }).then(() => {
        let arcId = this._arc.id;

        // Apply local changes to remote view.
        // TODO: support modifications too.
        localView.on('change', (change) => {
          if (change.add) {
            change.add.forEach((a) => {
              // Only store changes that were made locally.
              if (a.id.startsWith(arcId)) {
                remoteView.push(removeUndefined(a));
              }
            });
          } else if (change.remove) {
            change.remove.forEach((r) => {
              remoteView.orderByChild('id').equalTo(r.id).on("value", function(snapshot) {
                snapshot.forEach(function(data) {
                  removeView.child(data.key()).remove();
                });
              });
            });
          } else {
            console.warn('Unsupported change:', change);
          }
        }, {});

        // Apply remote changes to local view.
        remoteView.on('child_added', function(data) {
          if (data.val().id.startsWith(arcId)) {
            // This addition was generated locally. It's already
            console.log('Skip element that was added locally', data.val(), arcId);
            return;
          }
          localView.store(data.val());
        });
        remoteView.on('child_removed', function(data) {
          // Note: element will only be removed and 'remove' event will only be
          // fired iff the ID is present in the view.
          localView.remove(data.val().id);
        });
      });
    }

    // Synchronize a local variable with a remote variable.
    _syncVariable(localView, remoteView) {
      console.warn('Variable syncing not supported');
    }

    // Sync the Arc metadata with a backend. Whenever this method is called
    // we look for new views that may need to be synced.
    //
    // If key is unspecified, we assume that nothing in the Arc has been stored
    // and will create a new remote instance that contains whatever is
    // currently present in the given Arc.
    //
    // If key is specified, we clear all of the local views in the given
    // Arc and replace their contents with whatever was stored remotely.
    //
    // Note: views that are created after the constructor is called will not be
    // synchronized.
    // TODO: change arc.js to fire an event when a new view is added to an Arc.
    //
    // Returns a promise that resolves to the key identifying the remote
    // Arc metadata once syncing has successfully been initialized.
    sync({ key }) {
      console.log(this._arc, key);

      if (!key) {
        // This is the first time we see this Arc. Create the basic Arc metadata
        // in Firebase.
        let ref = db.ref('arcs').push();
        let promises = [Promise.resolve(ref.key)];
        // TODO: serialize doesn't work properly as far as I can tell...
        promises.push(ref.set(this._arc.serialize()));
        // TODO: should we sync views here? The way the system is current setup
        // there will never be any (non-static) views at this stage.
        return firebase.Promise.all(promises);
      }

      this._remoteRef = db.ref('arcs/' + key);
      console.assert(this.key, {'Invalid id: ': this.key});

      // Arc is loading or recently changed. We need to synchronize the views.

      // First we synchronize all of the local views with their remote copies.
      this._arc._viewsById.forEach((localView) => {
        // Make sure we only synchronize reach view at most once.
        if (this._syncedViews.has(localView.id)) {
          return;
        }
        this._syncedViews.add(localView.id);

        let remoteViewMeta = this._remoteRef.child('views/' + this._getRemoteViewId(localView));
        remoteViewMeta.child('metadata').update(removeUndefined({
          // TODO: also write tags here.
          type: localView.type,
          name: localView.name
        }));
        let remoteView = remoteViewMeta.child('values');

        if (localView.type.isView) {
          this._syncView(localView, remoteView);
        }
        if (localView.type.isVariable) {
          this._syncVariable(localView, remoteView);
        }
      });

      // ... second, we synchronize remote views with their local representations.
      // TODO: call this function for every remote view: createView(type, name, id, tags).
      this._remoteRef.child('views').orderByKey()

      // Just for consistency.
      return Promise.resolve(key);
    }

    // TODO: also sync views that don't yet exist locally but do exist remotely.

    // Returns the storage key.
    // PRE: sync() was called and returned a key.
    get key() {
      return this._remoteRef.key;
    }

    // Stores arbitrary metadata associated with that arc. The key here
    // is the key associated with the metadata value. It must be set and
    // must be a string. Value must be a dict. If the key exists its data
    // will be overwritten. If value is undefined then the key will be
    // deleted.
    store(key, value) {
      console.assert(key);
      let ref = this._remoteRef.child('metadata/' + key);
      if (value) {
        ref.set(value);
      } else {
        ref.delete();
      }
    }

    // Listen to store events. Calling store on an instance of the storage
    // class will not trigger any storage event on that instance (i.e.,
    // an instance doesn’t get events for storage operations it performed).
    // The callback is expected to be of the form: function(key, value).
    on(callback) {
      var metadataRef = this.remoteRef.child('metadata');

      metadataRef.on('child_added', function(data) {
        callback(data.key, data.val());
      });
      metadataRef.on('child_changed', function(data) {
        callback(data.key, data.val());
      });
      metadataRef.on('child_removed', function(data) {
        callback(data.key, undefined);
      });
    }
  }
  window.ArcMetadataStorage = ArcMetadataStorage;
</script>